.film{
    height: 88vh; // Высота изображения
    font-size: 10px;
    color: white;
    .film_shadow{
        background: linear-gradient(to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
        background-repeat: no-repeat;
        background-size: 80% 100%;
        height: 100%;
        .film_content{
            // У нас два контейнера
            display: flex;
            flex-direction: column;
            justify-content: space-between;
 
            height: 100%; // Относительно .title
            text-shadow: 1px 1px 8px #000; // Тень для всех элементов в блоке с изображением

            .content_title{
                margin-bottom: 3%;
            }
            .main_children{ // Блок Рейтинг, тип, жанр, год
                display: flex;
                align-items: center;
                span{
                    &:first-child{ // Рейтинг IMDb
                        padding: 0.4em;
                        white-space: nowrap; // перенос строки
                        margin-right: 15px;
                        
                        border-radius: 8px;
                        background-color: yellow;
            
                        color: black;
                        text-align: center;
                        text-shadow: none;
                    }
                    &:nth-child(2){ // Рейтинг кинопоиск
                        padding: 0.4em;
                        white-space: nowrap; // перенос строки
                        margin-right: 15px;

                        text-shadow: none;
                        border-radius: 8px;
                        background-color: yellow;
                        
                        color: black;
                        text-align: center;
                    }
                    &:nth-child(3){ // Жанр
                        text-shadow: 1px 1px 8px #000;
                    }
                    &:nth-child(4){ // Тип
                        text-shadow: 1px 1px 8px #000;
                    }
                    &:nth-child(5){ // Год
                        text-shadow: 1px 1px 8px #000;
                    }
                }
                
            }
            .main_watch{      
                padding: 10px 5px 9px 5px; 
                font-size: 2.5em;
                width: 6em;
                margin-bottom: 1em;
            
                border: 1px solid #ffffff;
                border-radius: 20px;

                text-align: center;
                a{
                    color: white;
                    text-decoration:none;
                }
                &:active{
                    padding: 10px 5px 9px 5px;
                    box-shadow: 0px 0px 8px 2px rgb(119, 0, 255);
                    font-size: 2.4em;
                        &:hover{
                            box-shadow: 0px 0px 8px 2px rgb(119, 0, 255);
                        }
                    
                }
                &:hover{
                    box-shadow: 0px 0px 8px 2px rgb(204, 204, 191);
                }
                
            }
            .main_slogan{
                text-shadow: 2px 2px 3px #000;
                padding-bottom: 3%;
            }
        }
    }
    .film_description{
        color: #323232;
        p{
            &:first-child{ //Заголовок
               margin-bottom: 0.5em; // Отступ заголовка от описания
            }
            &:nth-child(2){// Описание фильма
                text-align: justify;
                margin-bottom: 2em; // Отступ описания от похожих фильмов
            }
        }

        .description_similars{
            .similars_title{
                margin-bottom: 0.5em;
            }
            .similars__list{
                max-width: 100%; // Ширина относительно блока descripton
                // Флекс настройки для постов
                display: flex;
                justify-content:left;
                flex-wrap: wrap;

                .notfound{
                    margin-bottom: 1em;
                }

                .similar_style{
                    margin-top: 1em;
                    & > div{
                        position: relative; // Блок с изображением
                        width: 23em;
                        height: 34em;
                
                        border-radius: 20px;
                        margin-right: 3em; //отступ справа каждого поста
                        margin-bottom: 3em;
                
                        box-shadow: 3px 2px 5px black; // Тень для каждого поста
                        div{
                            display: none;
                        }
                        &:hover{ // Блок который появляется при наведении на пост
                            & > div{
                                //Флекс настройка для блока при наведении
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                
                                //Позиционирование относительно блока с изображением
                                position: absolute;
                                top: 0px;
                                left: 0px;
                
                                border-radius: 20px;
                                width: 100%;
                                height: 100%;
                
                                background-color: rgba(15, 14, 14, 0.9); // Полупрозрачный фон при наведении
                                color: white;
                    
                                padding: 2em; //Внутренний отступ
                                div{
                                    display: block;
                                    font-weight: 500;
                                    line-height: 17px;
                                    text-align: left;
                                    
                                    &:nth-child(1){ // Заголовок
                                        font-size: 1.5em;
                                        font-weight: 800;
                                        line-height: 29px;
                                        padding-bottom: 0.5em;
                                    }
                                    &:nth-child(2){ // Жанр
                                        color: tomato;
                                        padding-bottom: 1em
                                    }
                                    &:nth-child(3){ // Описание
                                        color: rgb(247, 250, 240);
                                    }
                                    
                                        
                                }
                                p{ // Рейтинг
                                    padding: 0.5em 1em;
                                    
                                    border-radius: 10px;
                                    background-color: yellow;
                
                                    color: black;
                                    text-align: center;
                                    font-weight: 900;
                                    line-height: 15px;
                                }
                                
                                
                            }
                        }
                        
                    }
                }
            }

        }
        
    }
}

.fstt{
    font-size: 7em;
}
.fst{
    font-size: 4em;
}
.fsd{
    font-size: 2.5em;
    font-weight: 300;
}