//Размеры и тень
.content_size{
    width: 90%;
    margin: 0px auto;
}
.shadow{
    box-shadow: 1px 1px 10px #afb8eb;
}


//Бутстрап
.ff{
    font-family: 'Montserrat', sans-serif;
}
.p-top{
    padding-top: 2%;
}
.p1-right{
    padding-right: 1%;
}