.main{
    background-color: rgb(253, 223, 223);
    .header{
        min-height: 12vh;
        padding-top: 1%; 
        .header_content{
            display: flex;
            justify-content: space-between;
        }
    }
    .content{
        border-top: 1px solid black;
        min-height: 88vh;
    }
}

.content_size{
    width: 90%;
    margin: 0px auto;
}
.p1{
    padding-top: 1%;
}




.header_selector{
    position: relative;
    .listbox{
        position: absolute;
        z-index: 1;
    }
    .w500{
        width: 500px;
    }
}
