.main{
    background-color: rgb(253, 223, 223);
    .header{
        padding: 1%;
        .header_content{
            width: 90%;
            margin: 0px auto;

            display: flex;
            justify-content: space-between;
            border: 1px solid #000;
        }
    }
    .content{
        border-top: 1px solid black;
        height: 88vh;
    }
}


.header_selector{
    position: relative;
    .listbox{
        display: none;
        position: absolute;
        z-index: 1;
    }
    .w500{
        width: 500px;
    }
}
