<div class="main ff">
 <div class="header p1 shadow">
    <div class="header_content content_size">
        <div class="film_searcher">
            <input class="w500" placeholder="Введите название фильма" type="text" pInputText [(ngModel)]="searchFilmValue" (ngModelChange)="onSearchFilmChange()" (click)="showListBox(true)" (blur)="checkEvent($event)"/>
            <div *ngIf="isListboxShow" id="listBox" class="w500 listbox">
                <p-listbox [options]="searchFilmItems" [(ngModel)]="selectedSearchFilm" (ngModelChange)="onSearchedFilmClick($event)" optionLabel="name" [listStyle]="{ 'max-height': '250px' }">
                    <ng-template let-film pTemplate="item">
                        <div class="film_searcher_items">
                            <img class="p1-right" [src]="film.posterUrlPreview" style="max-width: 70px"/>
                            <div class="p1-right">
                                <div >{{ film.nameRu }}</div>
                                <div>Год выпуска: {{ film.year }}</div>
                                <div>Cтрана: <span *ngFor="let i of film.countries">{{i.country}} </span></div>
                                <div>Жанр: <span *ngFor="let i of film.genres">{{i.genre}} </span></div>
                                <div>Рейтинг Кинопоиска: {{ film.ratingKinopoisk }} </div>
                                <div>Рейтинг Imdb: {{ film.ratingImdb }}</div>
                            </div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div>
            <p-dropdown placeholder="Значение не выбрано" [options]="topFilmMenuItems" [(ngModel)]="selectedTopFilm" optionLabel="name" (onChange)="showTable(true)"></p-dropdown>
            <!-- <p-button label="Вернуться на главную" styleClass="p-button-success p-button-text"></p-button> -->
        </div>
    </div>
 </div>
 <ng-container *ngIf="isTableShow">
     <div class="content p-top">
        <div class="content_size shadow" style="margin-bottom: 2%;">
            <p-table
                    #dt
                    styleClass="p-datatable-sm"
                    [first]="0"
                    [columns]="cols"
                    [value]="tableData"
                    [paginator]="true"
                    [rows]="5"
                    [tableStyle]=""
                    [rowsPerPageOptions]="[5, 10, 15]"
                    [totalRecords]="100"
                    [lazy]="true"
                    (onLazyLoad)="loadLazy($event)"
                    selectionMode="single"
                    (onRowSelect)="onRowSelect($event)"
                    >
                    <ng-template pTemplate="header" let-columns>
                        <tr class="ff">
                            <th *ngFor="let col of columns" style="padding: 20px;">
                                {{ col.header }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-columns="columns">
                        <tr [pSelectableRow]="data" class="ff">
                            <td style="padding: 20px;">{{data.index}}</td>
                            <td style="padding: 20px;"><img [src]="data.posterUrlPreview" width="50px" height="70px" alt="" style="vertical-align: middle; border-radius: 10px; box-shadow: 1px 1px 6px #090244;"></td>
                            <td style="padding: 20px;">{{ data.nameRu }}</td>
                            <td style="padding: 20px;"><span *ngFor="let g of data.genres">{{g.genre}} </span></td>
                            <td style="padding: 20px;">{{ data.countries[0]?.country }}</td>
                            <td style="padding: 20px; ">{{ data.year }}</td>
                            <td style="padding: 20px; text-align: center;">{{ data.filmLength }}</td>
                            <td style="padding: 20px;"><div pTooltip="{{data.ratingVoteCount}} человек проголосовало" tooltipPosition="left" class="rating_span">{{ data.rating }}</div></td>
                        </tr>
                    </ng-template>
            </p-table>
        </div>
     </div>
 </ng-container>
 <ng-container *ngIf="isAboutFilmShow">
    <app-film
       [kinopoiskId]="kinopoiskId"
       class=""
    ></app-film>
</ng-container>
</div>

