<div class="main">
 <div class="header p1">
    <div class="header_content content_size">
        <div class="header_selector">
            <input class="w500" placeholder="Введите название фильма" type="text" pInputText [(ngModel)]="value" />
            <div class="w500 listbox">
                <p-listbox [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [listStyle]="{ 'max-height': '250px' }">
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
        <div>
            <p-button label="Топ 100 фильмов" (onClick)="test()" styleClass="p-button-text"></p-button>
            <p-button label="Вернуться на главную" styleClass="p-button-success p-button-text"></p-button>
        </div>
    </div>
 </div>
 <div class="content p1">
    <div class="content_size">
        <p-table 
        styleClass="p-datatable-sm"
        [first]="first"
        [columns]="cols" 
        [value]="films"
        [paginator]="true"
        [rows]="5"
        [tableStyle]=""
        [rowsPerPageOptions]="[5, 10, 15]"
        [totalRecords]="250"
        [lazy]="true"
        (onLazyLoad)="test2($event)"
        >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-columns="columns">
            <tr>
                <td><img [src]="data.posterUrlPreview" width="50px" height="70px" alt="" style="vertical-align: middle"></td>
                <td>{{ data.nameRu }}</td>
                <!-- <td>{{ data.nameEn }}</td> -->
                <td>{{ data.countries[0]?.country }}</td>
                <td>{{ data.year }}</td>
                <td><span *ngFor="let g of data.genres">{{g.genre}} </span></td>
                <td>{{ data.filmLength }}</td>
                <td ><span pTooltip="{{data.ratingVoteCount}} чел. проголосовало">{{ data.rating }}</span></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
 </div>
</div>

